.skate-boarder--section {
}

.sb-pictures {
  position: relative;

}

.small-pic{
  float: left;
  margin: 5px;
  width: 345px;
  border: $picture_frame;
}

.tall-pic {
  float: right;
  width: 315px;
  height: 547px;
  margin: 5px;
  border: $picture_frame;
}

.wide-pic {
  float: left;
  margin-top: 10px;
  width: 705px;
  border: $picture_frame;
}

.sb-text {
  font-size: 2em;
  color: $brand_white;
  text-transform: uppercase;
}
